@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Montserrat";
  background: #ebf0f2;
}

#loading-screen {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ebf0f2;
}

#bluefox-icon {
  z-index: 2;
  position: absolute;
  top: 2%;
  right: 1.5%;
  width: 4em;
}

#title-container {
  margin-top: 4%;
  width: 100%;
  text-align: center;
  padding: 20px;
  color: #222;
}

.limit-text {
  font-weight: bold;
  color: #607183;
}

.alert-message {
  margin: 1em 3em 0 3em;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/* Count Gauge */

.count-gauge {
  width: 40em;
  height: 32em;
  display: block;
  margin: 2em auto 2em auto;
  background: #ebf0f2;
  box-shadow: none;
}

.count-gauge .track, .count-gauge .fill {
  fill: rgba(0, 0, 0, 0);
  stroke-width: 10;
  transform: rotate(90deg) translate(0px, -120px);
}

.count-gauge .track {
  stroke: #bac4cb;
}

.count-gauge .fill {
  stroke: #222;
  stroke-dasharray: 219.99078369140625;
  stroke-dashoffset: -219.99078369140625;
  transition: stroke-dashoffset 1s;
}

.count-gauge .count-value {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 2em;
  fill: #607183;
  text-anchor: middle;
}

.count-gauge .limit-text {
  fill: #607183;
  text-anchor: middle;
}

.count-gauge .location-name {
  text-anchor: middle;
  font-weight: bold;
}

/* Historical Chart */

#historical-chart {
  position: relative;
  right: 1.5%;
  margin: 3em 0 1em 0;
}

.dygraph-axis-label {
  color: #222;
  font-family: Montserrat;
}

.dygraph-label {
  font-size: 20px;
  color: #222;
  font-family: Montserrat;
}

.dygraph-legend {
  float: left;
  margin-left: 7%;
}

/* Media Queries */

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 0px) {
  h2 {
    font-size: 4em;
    font-weight: 600;
  }
  h3 {
    margin: 2em 0 0 0;
    font-family: Montserrat;
    font-size: 2em;
    color: #607183;
    font-weight: bold;
    text-align: center;
  }
  h4 {
    font-family: Montserrat;
    font-size: 2em;
    color: #607183;
    font-weight: 600;
    font-weight: bold;
    text-align: center;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  h2 {
    font-size: 4em;
    font-weight: 600;
  }
  h3 {
    margin: 2em 0 0 0;
    font-family: Montserrat;
    font-size: 2em;
    color: #607183;
    font-weight: bold;
    text-align: center;
  }
  h4 {
    font-family: Montserrat;
    font-size: 2em;
    color: #607183;
    font-weight: 600;
    text-align: center;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  h2 {
    font-size: 6em;
    font-weight: 600;
  }
  h3 {
    margin: 1em 0 0 0;
    font-family: Montserrat;
    font-size: 3em;
    color: #222;
    font-weight: bold;
    text-align: center;
  }
  h4 {
    font-family: Montserrat;
    font-size: 2em;
    color: #607183;
    font-weight: 600;
    text-align: center;
  }
}
